:root {
	--background: rgb(252, 252, 254);
	--foreground: #454545;
}

body {
	background: var(--background);
	color: var(--foreground);
	font: 15px system, -apple-system, Helvetica, sans-serif;
	line-height: 1.4;
	margin: 50px 0;
	margin-bottom: 100px;
}

a {
	color: var(--foreground);
	font-weight: 600;
}

p {
	line-height: 1.4;
}

ul {
	counter-reset: c;
	display: table;
	list-style: lower-greek inside none;
	padding: 0;
}

li {
	counter-increment: c;
	display: table-row;
}

li::before {
	content: counter(c, lower-greek) ".";
	display: table-cell;
	padding-right: 1rem;
}

section {
	margin-bottom: 2rem;
}

.item {
	margin-bottom: 1rem;
}

#resume {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 20px;
}

#basics h3 {
	margin-top: 1.5em;
}

#contact strong, #location strong {
	clear: both;
	float: left;
	line-height: 1.4;
	width: 120px;
}

section article p {
	margin: 0;
}

#profiles, #skills {
	overflow: hidden;
}

#profiles .item, #skills .item, #languages .item {
	float: left;
	width: 50%;
}