<body>
		<article>
			<h1>Charles Pletcher, PhD</h1>
			<section>
				<p>
					Lecturer, <em>Tufts University</em><br>
					Research Software Engineer, <em>New Alexandria Foundation</em>
				</p>
			</section>

			<section id="contact">
				<h3>Contact</h3>
				<p>
					<a title="GitHub" href="https://github.com/pletcher">github.com/pletcher</a>
				</p>
				<p>
					<a title="BlueSky" href="https://bsky.app/profile/charlespletcher.org">bsky.app/profile/charlespletcher.org</a>
				</p>
			</section>
			<section id="cv">
				<h3>CV</h3>
				<p>
					<a title="Academic CV" href="/pletcher-academic-cv.pdf">Academic CV (January 2025)</a>
				</p>
				<p>
					<a title="Tech CV" href="/pletcher-tech-cv.pdf">Tech CV (June 2024)</a>
				</p>
			</section>
			<section>
				<footer>
					<small>styles © <a title="Tufte CSS" href="https://edwardtufte.github.io/tufte-css/">tufte.css</a></small>
				</footer>
			</section>
		</article>
  </body>